.Card {
    flex-direction: column;
    width: 80vw;
    align-items: center;
    height: 30vh;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #a23636;
}

.Card__header {
    margin-top: 20px;
}

.Card__body {
    width: 100%;
    height: 50%;
    margin-top: 20px;
    flex: 1 1 auto;
}

.Card__body__textarea{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding: 10px;
}

h1 {
    text-align: center;
}