.logo {
    height: 3.5rem;
    background-color: #8f7979;
    width: 100vw;
    line-height: 3.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    padding:15px;
  }
  